// Fonts
$main-font: 'Lato', sans-serif;
$accent-font: 'Playfair Display', serif;

// Color Palette
$main-color: #162D54;
$accent-color: #e28119;

$orange-1: #E06B01;
$orange-2: #FF8500;
$orange-3: #FE9C03;
